@using Prueba_Tecnica.Core.Application.ViewModels;
@model List<CandidatoViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <div class="row bg-light rounded p-3 mb-4">
        <section class="w-100 d-flex justify-content-between align-items-center px-5">
            <h3 class="fs-4 fw-bold fw-bolder m-2 w-100">
                Dashboard
            </h3>
            <a asp-controller="Home" asp-action="SaveCandidate" class="btn btn-outline-dark">
                Agregar Nuevo Candidato
            </a>
        </section>
    </div>

    <div class="col-lg-10 mx-auto">

        @if (Model.Count == 0)
        {
            <h2 class="text-center">No existen registros de usuarios</h2>
        }
        else
        {
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Cedula</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Fecha Nacimiento</th>
                        <th scope="col">Trabajo Actual</th>
                        <th scope="col">Expectativa Salarial</th>
                        <th class="text-center" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CandidatoViewModel item in Model)
                    {
                        <tr class="table-light">
                            <td>@item.Cedula</td>
                            <td>@item.Nombres</td>
                            <td>@item.Apellidos</td>
                            <td>@item.FechaNacimiento</td>                   
                            <td>@item.TrabajoActual</td>
                            <td>@item.ExpectativaSalarial</td>
                            <td>
                                <div class="d-flex justify-content-start w-100">
                                    <a asp-controller="Home" asp-action="UpdateCandidate" asp-route-id="@item.Id" class="btn btn-sm btn-success me-2 w-100">Editar</a>
                                    <a asp-controller="Home" asp-action="DeleteCandidate" asp-route-id="@item.Id" class="btn btn-sm btn-danger me-2 w-100">Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>